extends layout

block content
	div.top
		ul 
			li 
				a(href="#") 新闻
			li 
				a(href="#") hao123
			li 
				a(href="#") 地图
			li 
				a(href="#") 视频
			li 
				a(href="#") 贴吧
			li 
				a(href="#") 学术
			li 
				a(href="#") 登录
			li.last 
				a(href="#") 设置
				div.erji
					p 
						a(href="#") 搜索设计
					p 
						a(href="#") 高级搜索 
					p 
						a(href="#") 关闭预测
					p 
						a(href="#") 搜索历史
		div.box  
			a(href="#") 更多产品
	div.content
		img(src="images/bd_logo1.png")
		p
			input(type="text")
			.bai 
				a(href="#") 百度一下 
	div.bottom
		p
			img(src="images/zzl-erweima.png")
			span 
				手机百度
		p 
			span 
				a(href="#") 把百度设为主页
			span 
				a(href="#") 关于手机
			span 
				a(href="#") About Baidu
			span 
				a(href="#") 百度推广
		p   
			span 2017 Baidu 
			span 
				a(href="#") 使用百度前必读 
			span 
				a(href="#") 常见反馈
			span 京ICP证030173号 
			span 
				img(src="images/zzl-bottom0.png")    
			span 
				a(href="#") 京公网安备1100000200001号
			span 
				img(src="images/zzl-bottom.png")  
		
		
		
				